:root {
   --color-primary: #1E2133;
   --color-secondary: #162036;
   --color-accent: #CBD8F8;
   --color-heading: #78BF13;
   --color-text: #F8F3E6;
   --color-body: #7D89A6;
   --color-hover: #7091FF;
}
